$arrow-left: (0px, 318px, 0px, -318px, 48px, 48px, 949px, 2465px, 'sprite.png');
$arrow-right: (0px, 265px, 0px, -265px, 48px, 48px, 949px, 2465px, 'sprite.png');
$at: (0px, 46px, 0px, -46px, 22px, 22px, 949px, 2465px, 'sprite.png');
$bank: (0px, 672px, 0px, -672px, 100px, 100px, 949px, 2465px, 'sprite.png');
$error: (0px, 129px, 0px, -129px, 26px, 26px, 949px, 2465px, 'sprite.png');
$expedirovanie: (0px, 1497px, 0px, -1497px, 220px, 130px, 949px, 2465px, 'sprite.png');
$favicon: (0px, 1767px, 0px, -1767px, 152px, 152px, 949px, 2465px, 'sprite.png');
$forwarding: (0px, 462px, 0px, -462px, 100px, 100px, 949px, 2465px, 'sprite.png');
$gorod: (0px, 1632px, 0px, -1632px, 220px, 130px, 949px, 2465px, 'sprite.png');
$gruzchiki: (0px, 1227px, 0px, -1227px, 220px, 130px, 949px, 2465px, 'sprite.png');
$hands: (0px, 567px, 0px, -567px, 100px, 100px, 949px, 2465px, 'sprite.png');
$home-1: (0px, 21px, 0px, -21px, 27px, 20px, 949px, 2465px, 'sprite.png');
$lock: (0px, 987px, 0px, -987px, 100px, 100px, 949px, 2465px, 'sprite.png');
$logo: (0px, 371px, 0px, -371px, 188px, 86px, 949px, 2465px, 'sprite.png');
$mail: (0px, 0px, 0px, 0px, 24px, 16px, 949px, 2465px, 'sprite.png');
$manager: (0px, 777px, 0px, -777px, 100px, 100px, 949px, 2465px, 'sprite.png');
$map: (0px, 1924px, 0px, -1924px, 949px, 541px, 949px, 2465px, 'sprite.png');
$mezhgorod: (0px, 1092px, 0px, -1092px, 220px, 130px, 949px, 2465px, 'sprite.png');
$ok: (0px, 160px, 0px, -160px, 26px, 26px, 949px, 2465px, 'sprite.png');
$pereezdi: (0px, 1362px, 0px, -1362px, 220px, 130px, 949px, 2465px, 'sprite.png');
$person: (0px, 73px, 0px, -73px, 23px, 22px, 949px, 2465px, 'sprite.png');
$phone: (0px, 100px, 0px, -100px, 18px, 24px, 949px, 2465px, 'sprite.png');
$secure: (0px, 882px, 0px, -882px, 100px, 100px, 949px, 2465px, 'sprite.png');
$social-ok: (0px, 228px, 0px, -228px, 32px, 32px, 949px, 2465px, 'sprite.png');
$social-vk: (0px, 191px, 0px, -191px, 32px, 32px, 949px, 2465px, 'sprite.png');
