main.home

	style
	|.home_active {
	|	color: #47b900;
	|	font-weight: 500;
	|}
	|.home_active:hover {
	|	color: #47b900;
	|}

	section.slider_promo
		.container.white-fon
			.row
				#carousel-one.carousel.slide(data-ride="carousel", data-interval="5000")
					ol.carousel-indicators#slider_promo_indicators
						//Indicators
					//Wrapper for slides
					.carousel-inner#slider_promo_content(role="listbox")

						.item.slider_one
							.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10
								img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="950", height="493", src="http://930920.ru/wp-content/uploads/pereezdi.jpg", alt="")
								.carousel-caption
									.row
										h2.text-center Офисные и квартирные переезды
									.row
										.counter.col-md-6.col-sm-8
											.counter-wrap
												p До окончания акции осталось
												#countdown
										.col-md-6.col-sm-4
											.slider-one-price.text-right
												|950
													span.rubl ₽
												|/час
									.row
										.col-lg-6.col-md-6.col-sm-6
											h5 Газель и 2 грузчика
										.col-lg-6.col-md-6.col-sm-6
											a.btn.btn-warning.btn-lg(href="#scroll-price", data-toggle="collapse", data-target="#collapsePrice", role="button") Узнать подробнее
						.item.slider_two
							.container
								.row
									.col-md-6.col-sm-6.text-right
										img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="400", height="300," src="http://930920.ru/wp-content/uploads/gruzchik.jpg", alt="")
									.col-md-6.col-sm-6
										.slider-inner
											.wrap-slider-inner
												h3 Грузчики в Ярославле
												ul
													li Квартирный, дачный и офисный переезд
													li Сборка/разборка мебели
													li Разгрузка/погрузка фур и ж/д вагонов
													li Складские работы
												p
													b Стоимость услуг:
													|Грузчики от 
													span.text-danger 250
													span.rubl ₽
													|/час
													span.text-success *
													p.text-otstup
														span.text-success *(минимум 2 часа)
													p.text-otstup
														span.text-danger
														span.rubl ₽

								.item.slider_two
									.container
										.row
											.col-md-6.col-sm-6.text-right
												img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="400", height="300", src="http://930920.ru/wp-content/uploads/gazel.jpg", alt="")
											.col-md-6.col-sm-6
												.slider-inner
													.wrap-slider-inner
														h3 Газель в Ярославле (3м) тент
														p Грузоподъемность — 1500 кг
														p Максимальный объем груза — 9 куб.м
														p Количество пассажирских мест — 2
														p
															b Стоимость услуг:
															|Город 
															span.text-danger 400
															span.rubl ₽
															|/час
															span.text-success *
															p.text-otstup
																span.text-success *(минимум 2 часа)

															p.text-otstup Межгород
															span .text-danger 14
																span.rubl ₽
																|/км
										.item.slider_two
											.container
												.row
													.col-md-6.col-sm-6.text-right
														img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="400", height="300", src="http://930920.ru/wp-content/uploads/gazeldva.jpg", alt="")
													.col-md-6.col-sm-6
														.slider-inner
															.wrap-slider-inner
																h3 Удлиненная газель (4м) тент
																p Грузоподъемность — 1500 кг
																p Максимальный объем груза — 18 куб.м
																p Количество пассажирских мест — 2
																p
																	b Стоимость услуг:
																	|Город 
																	span.text-danger 450
																	span.rubl ₽
																	|/час
																	span.text-success *
																	p.text-otstup
																		span.text-success *(минимум 2 часа)
																	p.text-otstup Межгород
																	span.text-danger 15
																		span.rubl ₽
																		|/км
												.item.slider_two
													.container
														.row
															.col-md-6.col-sm-6.text-right
																img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="400", height="300", src="http://930920.ru/wp-content/uploads/gazeltri.jpg", alt="Газель фермер")
															.col-md-6.col-sm-6
																.slider-inner
																	.wrap-slider-inner
																		h3 Газель фермер (4м) тент
																		p Грузоподъемность — 1500 кг
																		p Максимальный объем груза — 18 куб.м
																		p Количество пассажирских мест — 6
																		p
																			b Стоимость услуг:
																			|Город 
																			<span class="text-danger">550</span> 
																			<span class="rubl">₽</span>/час<span class="text-success">*</span></p>

																			<p class="text-otstup"><span class="text-success">*(минимум 2 часа)</span></p>

																			<p class="text-otstup">Межгород                                                <span class="text-danger">15</span>
																				<span class="rubl">₽</span>/км</p>

																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>


													</div><!-- carousel-inner -->
													<!-- Controls -->
													<a class="left carousel-control" href="#carousel-one" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
													<a class="right carousel-control" href="#carousel-one" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
												</div><!-- carousel-one -->
											</div><!-- row -->
										</div><!-- container -->
									</section>

									<!-- ABOUT -->
									<section>
										<div class="anchor" id="scroll-about"></div>
										<div class="panel-group" id="about">
											<div class="panel panel-default">



												<div class="panel-heading text-center">

													<h3 class="panel-title"><a data-toggle="collapse" data-parent="#about" href="#collapseAbout"><span class="glyphicon glyphicon-road"></span> О компании</a></h3>

												</div>
												<div class="container">
													<div id="collapseAbout" class="panel-collapse collapse">

														<div class="panel-body"><p>У Вас планируется переезд, но не знаете где заказать газель с грузчиками? Вам необходима перевозка мебели, холодильника, банкоматов, кофейных аппаратов, строительных материалов или даже пианино, но не знаете куда обратиться? Тогда Вы обратились по адресу! Транспортная компания «Авто Групп», поможет Вам в решении этих проблем!</p>
															<p>Наша компания быстро и качественно решит самые разнообразные задачи, поставленные клиентами, будь то организация офисного переезда, квартирный переезд под ключ или дачный переезд.</p>
															<p>Мы работаем в сфере перевозки грузов автотранспортом уже не первый год, поэтому уверенно можем предложить своим клиентам:</p>
															<ul>
																<li>точное соблюдение сроков доставки;</li>
																<li>гибкое планирование каждого маршрута;</li>
																<li>тщательный контроль на протяжении всего пути следования;</li>
																<li>различные варианты снижения затрат на доставку;</li>
																<li>работу с грузами различного типа;</li>
															</ul><br />
															<p>Основной вид нашей деятельности — это предоставление услуги профессиональных грузчиков, организация транспортных услуг во время квартирных, офисных, дачных переездов и грузовые междугородние перевозки. Самым главным в оказании таких услуг являются два правила: своевременность доставки и сохранение целостности груза. Сотрудники нашей компании осознают важность своей роли в этом серьёзном деле, поэтому они всегда готовы быстро и предельно аккуратно выполнить свои обязанности.</p>
															<p>В числе предоставляемых услуг:</p>
															<ul>
																<li>Погрузка, разгрузка фур и ж\д вагонов;</li>
																<li>Квартирные, офисные и дачные переезды;</li>
																<li>Доставка строительных материалов, изделий и товаров народного потребления;</li>
																<li>Перевозка, сборка и разборка мебели;</li>
																<li>Складские работы;</li>
																<li>Любые погрузочно-разгрузочные работы;</li>
																<li>Такелажные работы;</li>
															</ul><br />
															<p>Перевозки на газели — это самые востребованные перевозки по городу, так как это наиболее мобильное транспортное средство, способное перевозить грузы массой до 1,5 тонн, что позволяет решить много проблем, связанных с грузоперевозками в самые короткие сроки. Так же это самые дешевые перевозки, так как экономически нецелесообразно покупать, или арендовать большой грузовик, чтобы использовать его объем наполовину.</p>
															<p>Заказ газели для перевозки, недорого обойдется для Вас и Ваших близких, так как у нас существуют фиксированные тарифы, которые менеджер четко оговаривает с Вами.</p>
															<p>Наши опытные сотрудники всегда работают четко и очень быстро, не заставляя Вас ожидать долгое время, тем самым экономя ваши средства.  Если вам необходимо заказать газель для перевозки мебели, то наши грузчики помогут вам разобрать и собрать ее на месте погрузки и выгрузки.</p>
															<p>Таким образом, если вы надумали переезд, или хотите приобрести бытовую технику или мебель, или просто доставить нужный груз до места смело звоните к нам. Мы находим индивидуальный подход к каждому своему клиенту, благодаря чему после совместной работы с нашей компанией у вас останутся лишь приятные воспоминания и желание дальнейшего сотрудничества.</p></div>

														</div>
													</div>


												</div><!-- panel panel-default -->
											</div><!-- about -->
										</section>

										<!-- USLUGI -->
										<section class="gradient">
											<div class="anchor" id="scroll-usl"></div>
											<div class="container map-russia" id="map-rus">
												<div class="row">
													<div class="section-name-inverse">


														<h2>Услуги</h2>

													</div>
													<div class="container">
														<div class="row" id="usl_sec_row">


															<div class="col-md-4 col-sm-4">
																<div class="wraps">

																	<div data-toggle="popover" data-trigger="hover" data-delay="300" data-placement="top" title="Грузоперевозки по городу – 400 р/ч*" data-content="Грузоперевозки по городу Ярославль. (*минимальный заказ 2 часа)">

																		<img width="220" height="130" src="http://930920.ru/wp-content/uploads/gorod.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		<div class="name-usl"><span>Грузоперевозки по городу Ярославль</span></div>

																	</div>
																</div>
															</div>


															<div class="col-md-4 col-sm-4">
																<div class="wraps">

																	<div data-toggle="popover" data-trigger="hover" data-delay="300" data-placement="top" title="Переезды - 950 р/час*" data-content="В стоимость услуги входит газель и 2 грузчика. (*минимальный заказ 2 часа)">

																		<img width="220" height="130" src="http://930920.ru/wp-content/uploads/pereezdi.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		<div class="name-usl"><span>Квартирные, офисные и дачные переезды</span></div>

																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-4">
																<div class="wraps">
																	<div data-toggle="popover" data-trigger="hover" data-delay="300" data-placement="top" title="Межгород от 14 р/км*" data-content="Дополнительная точка по межгороду &#8212; 500 р. Простой на загрузке/разгрузке &#8212; 400 р/час. (*оплачивается в обе стороны)">
																		<img width="220" height="130" src="http://930920.ru/wp-content/uploads/mezhgorod.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		<div class="name-usl"><span>Междугородние перевозки грузов</span></div>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-4">
																<div class="wraps">
																	<div data-toggle="popover" data-trigger="hover" data-delay="300" data-placement="top" title="Грузчики - от 250 р/час*" data-content="Опытные грузчики выполнят все поставленные задачи максимально быстро и предельно аккуратно. (*минимальный заказ 2 часа)">
																		<img width="220" height="130" src="http://930920.ru/wp-content/uploads/gruzchiki.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		<div class="name-usl"><span>Услуги грузчиков</span></div>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-4">
																<div class="wraps">
																	<div data-toggle="popover" data-trigger="hover" data-delay="300" data-placement="top" title="Экспедирование – 500 р" data-content="Комплекс мероприятий, связанных с сопровождением и доставкой груза до пункта назначения.">
																		<img width="220" height="130" src="http://930920.ru/wp-content/uploads/expedirovanie.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		<div class="name-usl"><span>Экспедирование груза</span></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>

										<!-- TABLE -->
										<section>
											<div class="anchor" id="scroll-price"></div>
											<div class="panel-group" id="price">
												<div class="panel panel-default">
													<div class="panel-heading text-center">
														<h3 class="panel-title"><a data-toggle="collapse" data-parent="#price" href="#collapsePrice"><span class="glyphicon glyphicon-list-alt"></span> Таблица цен</a></h3>
													</div>
													<div class="container">
														<div id="collapsePrice" class="panel-collapse collapse">
															<div class="panel-body" id="prim">
																<div class="table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<th class="info">Вид работы</th>
																				<th class="info">Стоимость услуги от</th>
																				<th class="info">Минимальное время заказа, ч.</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td class="text-left">Заказать газель (3м) по городу</td>
																				<td>400												<span class="rubl">₽</span>/час												<span class="red"></span></td>
																				<td>2</td>
																			</tr>
																			<tr>
																				<td class="text-left">Заказать газель фермер по городу</td>
																				<td>550												<span class="rubl">₽</span>/час												<span class="red"></span></td>
																				<td>2</td>
																			</tr>
																			<tr>
																				<td class="text-left">Заказать газель (4м) по городу</td>
																				<td>450												<span class="rubl">₽</span>/час												<span class="red"></span></td>
																				<td>2</td>
																			</tr>
																			<tr>
																				<td class="text-left">Услуги грузчиков, разнорабочих и работников складов</td>
																				<td>250												<span class="rubl">₽</span>/час												<span class="red">*</span></td>
																				<td>2</td>
																			</tr>
																			<tr>
																				<td class="text-left">Квартирные, офисные и дачные переезды (газель (3м) и 2 грузчика)</td>
																				<td>950												<span class="rubl">₽</span>/час												<span class="red"></span></td>
																				<td>2</td>
																			</tr>
																			<tr>
																				<td class="text-left">Экспедирование</td>
																				<td>500												<span class="rubl">₽</span>												<span class="red"></span></td>
																				<td></td>
																			</tr>
																			<tr>
																				<td class="text-left">Заказ газели (3м) межгород</td>
																				<td>14												<span class="rubl">₽</span>/км												<span class="red">**</span></td>
																				<td></td>
																			</tr>
																			<tr>
																				<td class="text-left">Заказ газели (4м) межгород</td>
																				<td>15												<span class="rubl">₽</span>/км												<span class="red">**</span></td>
																				<td></td>
																			</tr>
																			<tr>
																				<td class="text-left">Заказ газели фермер межгород</td>
																				<td>15												<span class="rubl">₽</span>/км												<span class="red">**</span></td>
																				<td></td>
																			</tr>
																			<tr>
																				<td class="text-left">Дополнительная точка по межгороду</td>
																				<td>500												<span class="rubl">₽</span>												<span class="red"></span></td>
																				<td></td>
																			</tr>
																		</tbody>
																	</table>
																</div><!-- /.table-responsive -->
																<h5 class="text-right"><span class="red">*</span>
																	При заказе 2 грузчиков на 8 часовой рабочий день</h5>
																	<h5 class="text-right"><span class="red">**</span>
																		Считается в обе стороны</h5>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- price -->
												</section>

												<!-- PREIMUSHESTVA -->
												<section>
													<div class="anchor" id="scroll-preim"></div>
													<div class="container" id="preimushestva">
														<div class="section-name">
															<h2>Почему выбирают нас?</h2>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/bezposrednikov.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Собственный автопарк</h3>
																		<p>Компания владеет собственным автопарком с опытным и проверенным персоналом.</p>
																		<hr />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/preimexp.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Экспедирование грузов</h3>
																		<p>Наша компания предоставляет сервис по приемке и сдаче товара по накладной при доставке груза в несколько точек.</p>
																		<hr />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/meneger.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Индивидуальный менеджер</h3>
																		<p>Вам назначается индивидуальный менеджер, который контролирует весь ход работы а также, возможные изменения по времени.</p>
																		<hr />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/matotv.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Материальная ответственность</h3>
																		<p>Наша компания несет полную материальную ответственность за груз во время транспортировки, согласно договору на грузоперевозки.</p>
																		<hr />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/fix.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Фиксированная цена</h3>
																		<p>При заказе вы оговариваете фиксированную цену за определенные услуги, которая не изменится в дальнейшем.</p>
																		<hr />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="row">
																	<div class="preim-img col-md-3 col-sm-2">
																		<img width="100" height="100" src="http://930920.ru/wp-content/uploads/beznal.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																	</div>
																	<div class="preim-text col-md-9 col-sm-10">
																		<h3>Безналичный расчет</h3>
																		<p>Транспортные услуги можно оплатить как за наличный так и безналичный расчет. Наша компания предоставляет полный комплект документов.</p>
																		<hr />
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>

												<!-- OTZIVI -->
												<section>
													<div class="anchor" id="scroll-otzivi"></div>
													<div class="container" id="otzivi">
														<div class="section-name">
															<h2>Отзывы клиентов</h2>
														</div>
														<div id="carousel-otzivi" class="carousel slide" data-ride="carousel" data-interval="false">
															<ol class="carousel-indicators" id="slider_otzivi_indicators"><!-- Indicators --></ol>
															<div class="carousel-inner" role="listbox" id="slider_otzivi_content">
																<div class="item">
																	<div class="row">
																		<div class="text-center col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 photo_otziv">
																			<img width="439" height="453" src="http://930920.ru/wp-content/uploads/img_otziv_1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		</div>
																		<div class="col-lg-6 col-md-5 col-sm-5">
																			<div class="otziv-inner">
																				<h3>Лесников Д.В.</h3>
																				<span>Действующий ген. директор ООО "ЯрИКо"</span>
																				<p>Работаем по договору с 2012 года. Все работы выполняются в полном объеме и точно в срок. Надеемся на дальнейшее сотрудничество.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="item">
																	<div class="row">
																		<div class="text-center col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 photo_otziv">
																			<img width="463" height="450" src="http://930920.ru/wp-content/uploads/img_otziv_0.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		</div>
																		<div class="col-lg-6 col-md-5 col-sm-5">
																			<div class="otziv-inner">
																				<h3>Вахмянин С.Ю.</h3>
																				<span>Руководитель отдела продаж ЗАО "Эксплуатация"</span>
																				<p>Наша компания занимается ремонтом и обслуживанием холодильного оборудования. Регулярно пользуемся услугами транспортной компании «Авто Групп» уже на протяжении трех лет.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="item">
																	<div class="row">
																		<div class="text-center col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 photo_otziv">
																			<img width="463" height="450" src="http://930920.ru/wp-content/uploads/img_otziv_0.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		</div>
																		<div class="col-lg-6 col-md-5 col-sm-5">
																			<div class="otziv-inner">
																				<h3>Рогозин И.А.</h3>
																				<span>Ген.директор ООО "Ривсан"</span>
																				<p>Занимается ремонтом и обслуживанием техники JCB. Регулярно пользуемся услугами Авто Групп.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="item">
																	<div class="row">
																		<div class="text-center col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 photo_otziv">
																			<img width="368" height="407" src="http://930920.ru/wp-content/uploads/mhHPKuvmIgk-e1464375636777.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
																		</div>
																		<div class="col-lg-6 col-md-5 col-sm-5">
																			<div class="otziv-inner">
																				<h3>Бреева Екатерина</h3>
																				<span></span>
																				<p>Спасибо за отлично организованный переезд квартирный с грузчиками, нужно было перевезти мебель в другую квартиру. Справились профессионально, быстро и качественно.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="item">
																	<div class="row">	
																		<div class="text-center col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 photo_otziv">
																			<img src="http://930920.ru/wp-content/themes/gp/img/img_otziv_new.jpg" alt="Новый отзыв" />
																		</div>
																		<div class="col-lg-6 col-md-6 col-sm-6">
																			<div class="otziv-inner">
																				<div class="text-center">
																					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="btn-otziv">Добавить отзыв</button>
																				</div>
																				<div class="alert alert-success hidden text-center" id="success-alert">
																					<h2>Спасибо за ваш отзыв!</h2>
																					<p>Ваши данные успешно были отправлены.</p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-otzivi" role="button" data-slide="prev" style="background-image: none">
																<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
																<span class="sr-only">Previous</span>
															</a>
															<a class="right carousel-control" href="#carousel-otzivi" role="button" data-slide="next" style="background-image: none">
																<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
																<span class="sr-only">Next</span>

												// MODAL
												.modal.fade#myModal(tabindex="-1", role="dialog")
													.modal-dialog
														.modal-content
															.modal-header
																button.close(type="button", data-dismiss="modal") ×
																h3.modal-title#myModalLabel Оставить отзыв
															.modal-body
																form.form-horizontal
																	.form-group.has-feedback
																		label.control-label.col-xs-3(for="InputName") Ф.И.О.
																			span *
																		.col-xs-8
																			.input-group
																				span.input-group-addon
																					i.glyphicon.glyphicon-user
																				input.form-control#InputName(type="text", required="required", name="InputName" placeholder="Фамилия И.О.")
																			span.glyphicon.form-control-feedback
																	.form-group
																		label.control-label.col-xs-3(for="InputCompany") Компания
																		.col-xs-8
																			input.form-control#InputCompany(type="text", name="InputCompany", placeholder="Название вашей компании")
																	.form-group
																		label.control-label.col-xs-3(for="InputJob") Должность
																		.col-xs-8
																			input.form-control#InputJob(type="text", name="InputJob", placeholder="Занимая должность")
																	.form-group.has-feedback
																		label.control-label.col-xs-3(for="InputPhone") Телефон
																			span *
																		.col-xs-8
																			.input-group
																				span.input-group-addon +7
																				input.form-control#InputPhone(type="text", required="required", pattern="^[-+0-9()\s]+$", name="InputPhone", placeholder="Ваш номер телефона")
																			span.glyphicon.form-control-feedback
																	.form-group.has-feedback
																		label.control-label.col-xs-3(for="InputEmail") E-mail
																			span *
																		.col-xs-8
																			.input-group
																				span.input-group-addon
																					i.glyphicon.glyphicon-envelope
																				input.form-control#InputEmail(type="email", required="required", name="InputEmail", placeholder="Ваш e-mail")
																			span.glyphicon.form-control-feedback
																	.form-group
																		label.control-label.col-xs-3(for="InputReview") Ваш отзыв
																			span *
																		.col-xs-8
																			textarea.form-control#InputReview(rows="3", required="required", name="InputText", placeholder="Введите текст")
																	.text-center
																		span * - Обязательные поля
															.modal-footer
																.btn-center
																	button#save.btn.btn-primary(type="button") Отправить

												// CONTACTI
												section.gradient
													.anchor#scroll-cont
													.container#contacts
														.section-name-inverse
															h2 Контакты
														.row
															.col-md-6.col-sm-6.contact-phone
																p Телефон в Ярославле
																p +7 (4852) 930-920,
																p +7 (915) 991-28-41
																p E-mail:
															.col-md-6.col-sm-6
																.share
																	.share-label Поделиться:
																	//- .share42init
																.social
																	p Мы в социальных сетях
																	a.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(href="http://vk.com/yar930920", target="_blank")
																		img(width="32", height="32", src="http://930920.ru/wp-content/uploads/vk.png", alt="")
														.map.hidden-xs
															img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width="1100", height="200", src="http://930920.ru/wp-content/uploads/yaroslavl.png", alt="")