header

	include _navbar

	.main
		.main-content
			.container
				.row
					.col-sm-5.col-md-5.col-lg-4
						.phone
							.row
								.col-sm-6
									div +7 (4852) 930-920
								.col-sm-6
									div +7 (915) 991-28-41
						.title
							h1.title__text.text-uppercase Грузоперевозки и грузчики в Ярославле