nav.navbar.navbar-inverse
	.container
		.row
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					button.navbar-brand(type="button", data-toggle="modal", data-target="#aboutModal") Авто Групп
			
				.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav.navbar-right
						li.nav__item.hidden-xs.nav__item_active
							a.nav__link(href="#")
								.icon-home-1
						li.nav__item
							a.nav__link(href="#") Услуги
						li.nav__item
							a.nav__link(href="#") Цены
						li.nav__item
							a.nav__link(href="#") Преимущества
						li.nav__item
							a.nav__link(href="#") Отзывы
						li.nav__item
							a.nav__link(href="#") Контакты



//- nav.navbar.navbar-inverse#nav
//-   .container
//-     .navbar-header
//-       button.navbar-toggle(type="button", data-toggle="collapse", data-target="#mobile-menu")
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar

//-       a.navbar-brand.visible-xs(href="#scroll-about", data-toggle="collapse", data-target="#collapseAbout") О компании
//-     .collapse.navbar-collapse#mobile-menu
//-       .menu-center
//-         a.navbar-brand.hidden-xs(href="#scroll-about", data-toggle="collapse", data-target="#collapseAbout") О компании 
//-           span.glyphicon.glyphicon-play

//-         .menu-navigation-container
//-           ul#primary-menu.nav.navbar-nav
//-             li#menu-item-340.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-340
//-               a(href="#scroll-home") Начало
//-             li#menu-item-341.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-341
//-               a(href="#scroll-usl") Услуги
//-             li#menu-item-342.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-342
//-               a(href="#scroll-preim") Преимущества
//-             li#menu-item-343.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-343
//-               a(href="#scroll-otzivi") Отзывы
//-             li#menu-item-344.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-344
//-               a(href="#scroll-cont") Контакты

						//- li.dropdown
						//- 	a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown 
					//- 		span.caret
					//- 	ul.dropdown-menu
					//- 		li
					//- 			a(href="#") Action
					//- 		li
					//- 			a(href="#") Another action
					//- 		li
					//- 			a(href="#") Something else here
					//- 		li.divider(role="separator")
					//- 		li
					//- 			a(href="#") Separated link
					//- 		li.divider(role="separator")
					//- 		li
					//- 			a(href="#") One more separated link

				//- ul.nav.navbar-nav.navbar-right
				//- 	li
				//- 		a(href="#") Link
				//- 	li.dropdown
				//- 		a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown 
				//- 			span.caret
				//- 		ul.dropdown-menu
				//- 			li
				//- 				a(href="#") Action
				//- 			li
				//- 				a(href="#") Another action
				//- 			li
				//- 				a(href="#") Something else here
				//- 			li.divider(role="separator")
				//- 			li
				//- 				a(href="#") Separated link