.prices {
	background-color: lighten(#000, 80%);
	background-image: linear-gradient(lighten(#000, 70%) 0%, #ffffff 100%);;
}
.table {
	background-color: #fff;
}
.table__service {
	width: 70%;
}
.table__price {
	width: 15%;
}
.table__time {
	width: 15%;
}
.table__service,
.table__price,
.table__time {
	background-color: $second-cl;
	color: #fff;
}

@media (max-width: 543px) {
	.table {
		font-size: 14px;
	}
}